<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTE0NTAzODksInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCJhYWZlYzRlNS04NDMxLTQ1ZjMtYWU0YS0wNGM5MmEzMzY4ZjBcIixcInNlY3JldEtleVwiOlwiODNiN2M0MjI5ZjYzNDliOWIxMGFiYjliMjAyOTA3ZjdcIn0ifQ.qfgjNrPHtR_mqdrHXagIMGQL0WCb5mD9O-oG-1Zrsko" />
    <option name="deviceId" value="aafec4e5-8431-45f3-ae4a-04c92a3368f0" />
    <option name="refreshToken" value="1fae659c191d403c8dc040e5c07dc2d7" />
  </component>
</application>